﻿@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-title">
            <h4 class=" h1 pt-4">Crear Cliente</h4>
        </div>
        <hr />
        <div class="card-content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="md-form">
                @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite el nombre del Cliente" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="row">
            <div class="md-form">

                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="md-form">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="md-form">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>
    
        <div class="col-md-6">

            <div class="md-form">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">


            <div class="md-form">
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label " })


                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control  col-md-2", type = "date" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="md-form">
                @Html.LabelFor(model => model.Sucursal, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("Sucursal", new SelectList(ViewBag.Sucursal, "IDSucursal", "Sucursal1"), new { @class = "mdb-select" })
                @Html.ValidationMessageFor(model => model.IDSurcursal, "", new { @class = "text-danger" })
            </div>
        </div>



        </div>          

    <input type="submit" value="Create" class="btn btn-default" />
        
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
