﻿@model IEnumerable<WebApplication1.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="card">
    <div class="card-title card-stacked">
        <h2>Clientes</h2>
        <p>
            <a class="waves-effect waves-light btn" href='@Url.Action("Create", "Clientes")'><i class="material-icons left">add</i>Crear Nuevo</a>
        </p>

    </div>
    @using (Html.BeginForm("Index", "Clientes"))
    {
        <input name="search" type="search" class="form-control input-sm" placeholder="Buscar" aria-controls="example">
        <input type="submit" value="buscar" class="btn" />
    }
    <div class="card-content">
        <table id="example" class="table table-striped" cellspacing="0" width="100%">

            <thead>
                <tr>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Fecha de Nacimiento
                    </th>
                    <th>
                        Sucursal
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @{
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sucursal)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IDCliente }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.IDCliente }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDCliente })
                                </td>
                            </tr>
                        }
                    }
                }



            </tbody>
        </table>
    </div>
</div>