﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
    

    
        <li>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { id = "Manage" })</li>
        <li><a href="@Url.Action("Login","Account")">Cerrar sesión</a></li>
   
    
}
else
{
   
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
   
}
