﻿@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}
@{
    Layout = null;
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Login | Sistema de control funeraria</title>
        <!-- Favicon-->
        <link rel="icon" href="../../favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core Css -->
        <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="~/Content/css/style.css" rel="stylesheet">
    </head>

    <body class="signup-page">
        <div class="signup-box">
            <div class="logo">
                <a href="javascript:void(0);">Admin<b>BSB</b></a>
                <small>Admin BootStrap Based - Material Design</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_up" method="POST">
                        <div class="msg">Register a new membership</div>
                       
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeHolder = "Correo" })


                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeHolder = "Contraseña" })


                                      </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeHolder = "Confirmacion Contraseña" })


                            </div>
                        </div>
                        

                        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Registrate</button>

                        <
                    </form>
                </div>
            </div>
        </div>

        <!-- Jquery Core Js -->
        <script src="~/Content/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core Js -->
        <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>

        <!-- Waves Effect Plugin Js -->
        <script src="~/Content/plugins/node-waves/waves.js"></script>

        <!-- Validation Plugin Js -->
        <script src="~/Content/plugins/jquery-validation/jquery.validate.js"></script>

        <!-- Custom Js -->
        <script src="~/Content/js/admin.js"></script>
        <script src="~/Content/js/pages/examples/sign-in.js"></script>
    </body>

</html>
}


