﻿@model WebApplication1.Models.Sucursal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-title">
            <h4>Crear Sucursal</h4>
        </div>
        <hr />
        <div class="card-content">
            @Html.DisplayName("Sucursal")

          
            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Sucursal1, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                    @Html.ValidationMessageFor(model => model.Sucursal1, "", new { @class = "text-danger" })
                </div>


              
                
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
   