﻿@model IEnumerable<WebApplication1.Models.Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br />
<br />
<div class="card">
    <div class="card-title card-stacked" >
        <h2>Sucursales</h2>
        <p>
            <a class="waves-effect waves-light btn" href='@Url.Action("Create", "Sucursales")'><i class="material-icons left">add</i>Crear Nuevo</a>
        </p>

    </div>
   @using (Html.BeginForm("Index", "Sucursales"))
   {
    <input name="search" type="search" class="form-control input-sm" placeholder="Buscar" aria-controls="example">
    <input type="submit" value="buscar"   class="btn"/>
   }
    <div class="card-content">
        <table id="example" class="table table-striped" cellspacing="0" width="100%">

            <thead>
                <tr>
                    <th>
                        Sucursal
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @{
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sucursal1)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IDSucursal }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.IDSucursal }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDSucursal })
                                </td>
                            </tr>
                        }
                    }
                }



            </tbody>
        </table>
    </div>
</div>
