﻿@model WebApplication1.Models.Factura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetalleFactura.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleFactura.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
