﻿@model IEnumerable<WebApplication1.Models.Factura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleFactura.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleFactura.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFactura })
        </td>
    </tr>
}

</table>
