﻿@{
    ViewBag.Title = "Home Page";
}




    <br />
    <br />
    <br />
    <br />

<div style="width:100%;height:100%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
   
      
       
            <div id="carousel-example-generic_2" class="carousel" data-ride="carousel">
                <!-- Indicators -->
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <h1>Funeraria</h1>

                        <img src="https://cdn-images-1.medium.com/max/1600/1*kGseecwSfE2vgZ6RwIlyDw.png" />
                        <div class="carousel-caption">
                            <h4>Sistema de Manejo de Facturacion</h4>
                        </div>
                    </div>
                   
                </div>
                <!-- Controls -->
                
            </div>
        </div>

